@model UdemyBook.Models.ViewModels.CategoriesVM
@{
    ViewData["Title"] = "Development";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categorizedList = Model.CategorizedProducts;
}


<div class="container my-3">
    <h4>Category > @categorizedList.First().Category.Name</h4>
    <div class="row">
        @foreach (var product in categorizedList)
        {
            <!-- a book-->
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-2">
                <div class="card w-100 border-none">
                    <a asp-controller="Products" asp-action="Detail" asp-route-id="@product.ID">
                        <img class="card-img-top p-1 w-100" src="@product.ImageUrl" alt="Card image">
                    </a>
                    <div class="card-body p-1">
                        <a asp-controller="Products" asp-action="Detail" asp-route-id="@product.ID" class="text-decoration-none text-dark">
                            <h6 class="card-title">@product.Title</h6>
                        </a>
                        <p class="card-text">@product.Author.Name</p>
                        <p class="card-text">
                            <span class="text-primary">
                                4.5&nbsp;
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-empty" aria-hidden="true"></i>
                            </span>
                        </p>
                        <h5 class="card-title font-weight-bold">$@product.Price.ToString("#,##")</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>